* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, serif;
    color: rgb(0,0,0);
    font-size: 100%;
    line-height: 1.4;
    width: 100%;
    height: 100%;
}

a{
  color: #ff0000;
}
body{
	background: url('img/Titelbildneu.jpg') center center;
	background-size: cover;
}

.abs{
	position:absolute;
	width:90%;
	max-width: 600px;
	color: #ff0000;
	top: 25%;
	left: 75%;
	transform: translate(-50%, -50%);
}
